{% load url from future %}
{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="The Beginning, bidi bidi." />
<meta name="keywords" content="The Beginning, Short, Film, 2012, Baslangic, Yigit, Evgar, Altin Portakal, Cannes,Film, Festival, Corner,Demet Evgar,Bulent Emin Yarar,Oner Erkan" />
<title>The Beginning</title>
    {%  block baslik  %}
    {% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fade-plugin.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/thebeginning.css" />

    <script type="text/javascript">

            $(document).ready(
				function(){

          $("#header_id").fadeTransition({       pauseTime: 4000,
                                                 transitionTime: 1000,
                                                 delayStart: 4000,
                                                 pauseOnMouseOver: false,
                                                 createNavButtons: false});


          var example3 = $("#header_id").fadeTransition().fader();
//          $("#back").click(function(e) { example3.prev(); e.preventDefault(); });
//          $("#next").click(function(e) { example3.next(); e.preventDefault(); });
        });
    </script>
</head>

<body>

<div id="container">
    <div class="slogan">
        <a class="visible" href="/"><img src="{{ STATIC_URL }}images/sloganresize.png" width="600" height="80" alt="" /></a>
    </div>
    <div class="header">
        <iframe src="{{ STATIC_URL }}html/slide.html" style="border: none; height: 337px;width: 600px;"  align="top" marginheight="0" marginwidth="0" scrolling="no"></iframe>
    </div>

    <div class="menu" align="center">
        <a href="/background" >Background</a>
        <a href="/video" >Video</a>
        <a href="/gallery" >Gallery</a>
        <a href="/castandcrew" >Cast And Crew</a>
        <a style='border: none' href="/director" >About The Director</a>
{#        <a style='border: none'href="/contact" >Contact</a>#}
    </div>
    <div class="content">

        {%  block icerik  %}
        {% endblock %}
    </div>
        <br class="clearfloat" />
    
	<div class="footer">
    Copyright Multi Arts Production 2011
    </div>
</div>


</body>
</html>
