{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="The Beginning, bidi bidi." />
<meta name="keywords" content="The Beginning, Short, Film, 2012, Baslangic, Yigit, Evgar, Altin Portakal, Cannes,Film, Festival, Corner,Demet Evgar,Bulent Emin Yarar,Oner Erkan" />
<title>The Beginning</title>
<style type="text/css">

</style>
    <script type="text/javascript" src="/img/jquery.js"></script>
    <script type="text/javascript" src="/img/fade-plugin.js"></script>
    <link rel="stylesheet" type="text/css" href="/img/thebeginning.css" />

    <script type="text/javascript">

            $(document).ready(
				function(){

          $("#header_id").fadeTransition({       pauseTime: 4000,
                                                 transitionTime: 1000,
                                                 delayStart: 4000,
                                                 pauseOnMouseOver: false,
                                                 createNavButtons: false});


          var example3 = $("#header_id").fadeTransition().fader();
//          $("#back").click(function(e) { example3.prev(); e.preventDefault(); });
//          $("#next").click(function(e) { example3.next(); e.preventDefault(); });
        });
    </script>
</head>

<body>

<div id="container">
    <div class="header">
        <iframe src="/img/slide.html" style="border: none; height: 337px;width: 600px;"  align="top" marginheight="0" marginwidth="0" scrolling="no"></iframe>
{#        <ul id="header_id" class="slide">#}
{#            <li>#}
{#                <img src="/img/shot1.png" alt="The Beginning" />#}
{#            </li>#}
{#            <li>#}
{#                <img src="/img/shot2.png" alt="The Beginning" />#}
{#            </li>#}
{#            <li>#}
{#                <img src="/img/shot3.png" alt="The Beginning" />#}
{#            </li>#}
{#        </ul>#}
    </div>

    <div class="menu">
        <ul>
            <li><a  href="/synopsis" >Synopsis</a></li>
            <li><a href="/movie" >Movie</a></li>
            <li><a href="/Gallery" >Gallery</a></li>
            <li><a href="/director" >About The Director</a></li>
            <a class="li-text" href="/contact" >Contact</a>
        </ul>
    </div>

    <div class="main">

        <div class="content">
        {%  block icerik  %}
        {% endblock %}
        
        <br class="clearfloat" />
    </div>
    
	<div class="footer">
    Copyright Multi Arts Production 2012
    </div>

</div>

</body>
</html>
